.grid {
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	width: 300px;
	border: solid 1px black;
	color: red;
}

.grid div {
	height: 20px;
	width: 20px;
}

.player {
	background-color: yellow;
}


.invader {
	background-color: purple;
}


.boom {
	background-color: red;
}